<div class="jumbotron" data-ng-controller="articlesCtrl">

    <div class="container">
        <h1>Search for articles!</h1>

        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">@</span>
            <input type="text" class="form-control" data-ng-model="search" placeholder="Search for..." aria-describedby="sizing-addon1">
        </div>
        </div>
        <div class="searchResults" data-ng-repeat="a in articles | searchFor:search|limitTo: 5" data-ng-show="search">
        <ul>
            <li>
                <p>{{a.title}}</p>
            </li>
        </ul>
        </div>
    </div>
    </div>

